{% extends "base.html" %} {% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">


            <div class="card-body">
                <div class="card-title py-3">
                    <h4>MAL Requirement Form</h4>
                </div>
                <form action="{% url 'MALrequirements' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" name="malno" placeholder="MAL_Job_Identification_Number" id="malno" value="" class="form-control form-control-sm" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="asi" placeholder="Assembly_line_ID" id="asi" value="" class="form-control form-control-sm" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nameassembly" placeholder="Name_of_the_Assembly_line" id="nameassembly" value="" class="form-control form-control-sm" required/>
                    </div>

                    <div class="form-group">
                        <input type="text" name="personname" placeholder="Name_of_the_person_incharge_of_the_MAL" id="personname" value="" class="form-control form-control-sm" required/>
                    </div>
                    <div class="form-group">
                        Link of the output folder
                        <input type="file" name="link1" placeholder="Link_of_the_output_folder" id="link1" value="" class="form-control form-control-sm" required/>
                    </div>

                    <div class="form-group">
                        Select Microtask:
                        <select class="form-select" aria-label="Default select example" name="microtask">
                                    <option selected>Select</option>
                                    {% for m in microtask %}
                                        <option>{{ m.job_name }}</option>
                                    {% endfor %}
                                    
                    
                                  </select>
                    </div>
                    <div class="form-group">
                        select Microtask Category:
                        <select class="form-select" aria-label="Default select example" name="category">
                                    <option selected>Select</option>
                                    {% for m in microtask %}
                                        <option>{{ m.cat_id.category_name }}</option>
                                    {% endfor %}
                                    
                    
                                  </select>
                    </div>



                    <div class="form-group">
                        <input type="date" name="td" placeholder="Target_date" class="form-control form-control-sm" id="td" value="" required/>
                    </div>

                    <div class="form-group">
                        <input type="number" name="budget" placeholder="Total_budget_allocated_for_the_job" class="form-control form-control-sm" id="budget" value="" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="jd" placeholder="Job_description" class="form-control form-control-sm" id="jd" value="" required/>
                    </div>
                    <div class="form-group">
                        Uploadjob sample:
                        <input type="file" name="jobsample" placeholder="Uploadjob_sample" class="form-control form-control-sm" id="jobsample" value="" required/>
                    </div>
                    <div class="form-group">
                        UploadJob instructions:
                        <input type="file" name="instruction" placeholder="UploadJob_instructions" class="form-control form-control-sm" id="instruction" value="" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" name="quantity" placeholder="Quantity_of_the_Job" class="form-control form-control-sm" id="quantity" value="" required/>
                    </div>
                    <div class="form-group">
                        Link of the Input folder:
                        <input type="file" name="link2" placeholder="Link_of_the_Input_folder" class="form-control form-control-sm" id="link2" value="" required/>
                    </div>


                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock body %}